/*
* Stylesheet for admin panel (add, delete, and update template)
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.container {
    display: flex;
    justify-content: center;
}


h2{
    background: #223344;
    color : white;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 3em;
    font-weight: bold;    
}

form{
    display: grid;
    width: 40%;
    padding-top: 5%;
    font-family: 'Poppins', sans-serif;     
}

input[type=text] {
    border-radius: 5px;
    border: solid 1px transparent;
    border-left: solid 5px #223344;
    font-size: large;
    display: block;
}

textarea {
    border: solid 1px transparent;
    border-radius: 5px;
    border-left: solid 5px #223344;
    height: 4rem;
    font-family: 'Poppins',sans-serif;
    font-size: large;
    display: block;
}

input[type=submit]{
    margin:auto;
    min-width: 30%;
    width: auto;
    margin-right: auto;
    background: #223344;
    border-radius: 0.5em;
    color:white;
    font-size: larger;
    font-weight: bolder;
    display: block;
    padding-left: 1em;
    padding-right: 1em;
}

input[type=file]{
    border-radius: 5px;
    border: solid 1px transparent;
    font-size: 1.2em;
    display: block;
}

select {
    border: solid 1px transparent;
    border-radius: 5px;
    border-left: solid 10px #223344;
    font-size: medium;
    display: block;
    text-transform: capitalize;
}

label {
    margin-bottom: 10px;
}