/*
* Animation for terminal (command and result writing)
*/

#to-animate {
    border-right: solid 3px rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
}

#to-animate {
    animation: animated-text 0.5s steps(7) 1.5s 1 normal both,
    animated-cursor 800ms steps(7) infinite;
}

#cmd {
    visibility: hidden;
    animation: 0.1s display-cmd-result;
    animation-delay: 2.1s;
    animation-fill-mode: forwards;
}


@keyframes animated-text {
    from {width:40px;}
    to {width: 130px;}
}

@keyframes animated-cursor {
    from{border-right-color: rgba(255, 255, 255, 0.75);}
    to{border-right-color: transparent;}
}

@keyframes display-cmd-result {
    from {
        visibility: hidden;
    } to {
        visibility: visible;
    }
}