/*
* Css style for the projects page (text animation)
*/

#to-animate {
    white-space: nowrap;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.2em;

}

#to-animate {
    animation: animated-text 0.9s steps(22) 0.6s 1 normal both;
}

#term {
    background-color: #223344;
    height: 12em;
    margin-top: -3em;
}


@keyframes animated-text {
    from {width:0px;}
    to {width: 13em;}
}

@keyframes animated-cursor {
    from{border-right-color: white;}
    to{border-right-color: transparent;}
}