body,html {
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
    scrollbar-width: 0px;
    height: 100%;
    width: 100%;
} 

a {
    text-decoration: none;
    color: #393e46;
    transition: ease-in 0.8s;
}

a:active {
    text-decoration: none;
    color: #393e46;
}

a:hover {
    text-decoration: none;
    color: #222831;   
}

.projectTitle {
    margin-left: 20vh;
    font-size: 8em;
    transition: ease-in 0.8s;

}

.projectTitle:hover {
    text-decoration: none;
    color: #ffd369;
}

.desc {
    color: wheat;
}