@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.button .button-top:before {
    content: "";
    position: absolute;
    height: 6px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #FBBF24,#EF4444, #F472B6);
    transform: scaleX(0);
    visibility: hidden;
    transition: all .25s cubic-bezier(1,.25,0,.75) 0s;
    border-radius: 1.5em;
}

.button:hover .button-top:before {
    visibility: visible;
    transform: scaleX(1);
}

.button-bottom {
    top: -40px;
    border-bottom: #eee;
}

.button:hover .button-bottom {
    transform: translateY(40px);
}
@media (min-width: 1536px)
{
    
    .button .button-top:before {
        width: 100%;
    }
}
@media (min-width: 1280px)
{
    .button .button-top:before {
        width: 50%;
        margin-left: 25%;
    }
    
    .button-bottom {

    }
}

.arrow {
    position: absolute;
    z-index: 5;
    top:0;
    left:0;
    display: block;
    top: 37vh;
    left: 10vw  ;
}
.arrow  span {
    width: 30px;
    height: 7px;
    margin: 5px;
    display: block;
    background: #111;
    border-radius: 4px;
    position: relative;
}

.arrow #top {
    transform: rotate(45deg);
    
}

.arrow #bottom {
    transform: rotate(-45deg);
    top:6px;    
}
