{% extends "base.html" %}

{% block title %}Add a project{% endblock %}

{% block content %} 
<h2>Add a project</h2>

<form id="add-project" action = "" method = "post">
    <input type="text" name="name" placeholder = "Project name"/><br>

    <textarea name="short_desc" placeholder="Short description"></textarea><br>

    <textarea id="long-desc" name="long_desc" placeholder="Long description"></textarea><br>

    <!-- TODO: merge with add/upload files -->
    
    <input id="submit" type="submit" value="+" accesskey="Return"/>
 </form>

{% endblock %}

<script>
    // window.onload =() => {
    //     const form = document.getElementById('add-project');
    //     const sub =document.getElementById('submit');

    //     let form_fields = form.childNodes;
    //      form_fields.forEach( (field) => {
    //          if (!(field.nodeValue === "" )) sub.removeAttribute("disabled");
    //      })
    // }
</script>

<!-- TODO: merge this with upload.html -->