{% extends "base.html" %}

{% block title %}Add a project{% endblock %}
{% block customHead %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='admin.css') }}">
{% endblock %}
{% block content %} 
<div class="container">
    <h2>Add a project</h2>
</div>

<div class="container">
    <form id="add-project" action = "" method = "post" enctype="multipart/form-data">
        <input type="text" name="project_name" placeholder = "Project name" required/><br>
        
        <input type="text" name="project_url" placeholder = "Project url" required/><br>
        
        <textarea name="project_desc" placeholder="Short description"></textarea><br>
        
        <label for="file">Select a file for the thumbnail</label>
        <input type="file" name="project_thumbnail" required> <br>
        
        <input id="submit" type="submit" value="Add project" accesskey="Return"/>
    </form>
</div>
 {% endblock %}