{% extends "base.html" %}

{% block title %} Portfolio {% endblock %}

{% block content %}


<div class="content">
    <section class="infos">
        <span id="name">Jean Oskour</span>
        <div id="links">
            <div id="github-button" class="button">
                <div class="button-background"></div>
                <div class="button-link">
                    <a href="#github">github.com</a>
                </div>
                <div class="button-foreground"></div>
                <div class="button-icon">Git</div>
            </div>
            <div id="linkedin-button" class="button">
                <div class="button-background"></div>
                <div class="button-link">
                    <a href="#linkedin">linkedin.com/user</a>
                </div>
                <div class="button-foreground"></div>
                <div class="button-icon">Ln</div>
            </div>
            <div id="about-button" class="button">
                <div class="button-background"></div>
                <div class="button-link">
                    <a href="#me">about</a>
                </div>
                <div class="button-foreground"></div>
                <div class="button-icon">Me</div>
            </div>
        </div>
        <div class="projects">
            <div id="project-button" class="button">
                <div class="button-background"></div>
                <div class="button-link">
                    <a href="./projects">projects</a>
                </div>
                <div class="button-foreground"></div>
                <div class="button-text">View more</div>
            </div>
        </div>
    </section>
    
    <aside class="profile">
        <div id="profile-picture"></div>
        <div id="desc">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Dignissimos recusandae fugit reiciendis, veniam quibusdam distinctio 
            beatae tempora magni deleniti velit molestias odio id dolore consequatur 
            mollitia voluptatum tempore facilis expedita!
        </div>
    </aside> 
</div>


{% endblock %}