{% extends "base.html" %}

{% block title %} Portfolio {% endblock %}

{% block content %}


<div class="content">
    <section class="infos">
        <span id="name">first name last name</span>
        <div id="links">
            <div class="button">Github</div>
            <div class="button">Linkedin</div>
            <div class="button">CV</div>
            <button onclick="submit()">Click me</button> 
        </div>
        <div class="projects">
            <div class="button">Projects</div>
        </div>
    </section>
    
    <aside>
        <img src="res/pp.jpg" alt="Profile picture">
        <div id="desc">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Dignissimos recusandae fugit reiciendis, veniam quibusdam distinctio 
            beatae tempora magni deleniti velit molestias odio id dolore consequatur 
            mollitia voluptatum tempore facilis expedita!
        </div>
    </aside> 
</div>


{% endblock %}