{% extends "base.html" %}

{% block title %} Portfolio {% endblock %}

{% block content %}


<div class="content">
    <section class="infos">
        <span id="name">first name last name</span>
        <div id="links">
            <div class="button"style=>
                <div class="button-background" style="top:400px; left:90px"></div>
                <div class="button-link">
                    <a href="#github">github.com</a>
                </div>
                <div class="button-foreground" style="top:390px; left:90px"></div>
                <div class="button-icon" style="top:450px; left:165px">Git</div>
            </div>
            <div class="button">
                <div class="button-background" style="top:400px; left:310px"></div>
                <div class="button-link">
                    <a href="#linkedin">linkedin.com/user</a>
                </div>
                <div class="button-foreground" style="top:390px; left:310px"></div>
                <div class="button-icon" style="top:450px; left:385px">Ln</div>
            </div>
            <div class="button">
                <div class="button-background" style="top:400px; left:530px"></div>
                <div class="button-link">
                    <a href="#me">about</a>
                </div>
                <div class="button-foreground" style="top:390px; left:530px"></div>
                <div class="button-icon" style="top:450px; left:605px">Me</div>
            </div>
        </div>
        <div class="projects">
            <div class="button">
                <div class="button-background"></div>
                <div class="button-link">
                    <a href="#projects">projects</a>
                </div>
                <div class="button-foreground"></div>
                <div class="button-text">View more</div>
            </div>
        </div>
    </section>
    
    <aside class="profile">
        <div id="profile-picture"></div>
        <div id="desc">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Dignissimos recusandae fugit reiciendis, veniam quibusdam distinctio 
            beatae tempora magni deleniti velit molestias odio id dolore consequatur 
            mollitia voluptatum tempore facilis expedita!
        </div>
    </aside> 
</div>


{% endblock %}