{% extends "base.html" %}

{% block title %} {{ project.project_name }} {% endblock %}

{% block content %}
<div class="content">
    <section class="project-infos">
        <div class="background-wrapper">
        </div>
        {% if project %}
        
        <div class="project">
            <span class="project-name"> {{ project.project_name }} </span>
            <div class="project-short-desc">
                <p> {{ project.short_desc }} </p>
            </div>
            <div class="project-long-desc">
                <p> {{ project.long_desc }} </p>
            </div>
            {% for file in project.attached_files %}
            <span> {{ file.file_url }} </span>
            <br>
            
            {% endfor %}
        </div>
        
        {% endif %}

    </section>
    
    
    
</div>
{% endblock %}
