{% extends "base.html" %}


{% block title %} Project list {% endblock %}

{% block content %}

<div class="card-container">


{% if projectList %}
<script>
    console.log("ProjectList == ok")
</script>
{% for project in projectList %}
<div class="card">
    <div class="circle"></div>
    <div class="content">
        <h2></h2>
        <p>

        </p>
        <a href="#"> More details</a>
    </div>
    <img src="" alt="pespi">
</div>
{% endfor %}
<script>

    // let desc = []
    // let files = []
    // let names = []
    // let short_desc = ""
    // let attached_files = ""
    // let project_name = ""
    // let project_files = []
    // let cur_file = ""

    let cards = document.querySelectorAll('.card')
    let card_index = 0

    {% for project in projectList %}
        cards[card_index].children[1].children[0].innerHTML = '{{ project.project_name }}'
        cards[card_index].children[1].children[1].innerHTML = '{{ project.short_desc }}'
        cards[card_index].children[2].src ="{{ url_for('static',filename='can-real-sugar-reg.png') }}"
        cards[card_index].children[1].children[2].href = `/project/${card_index+1}`
        cards[card_index].children[2].alt = '{{ project.project_name }}'
        card_index++
    {% endfor %}

</script>
</div>

{% else %}
<h1 class="error">Oh there's nothing to watch here, an internal error occured :c</h1>
{% endif %}

{% endblock %}

