{% extends "base.html" %}


{% block title %} Project list {% endblock %}

{% block content %}
<div class="content grid grid-cols-2 gap-2 my-32">
    <!-- <h1>My projects</h1> -->
    <div class="projectList justify-self-center">
    {% if projectList %}
    {% for project in projectList %}
        <a class="projectTitle text-black-200 text-6xl hover:text-yellow-500 transition ease-in duration-200" href="{{ url_for('project', id=project.id)}}">{{ project.project_name }}</a>
        <br/>
        <br>
    {% endfor %}
    {% endif %}
    </div>

    <div class="desc text-yellow-500 text-xl justify-self-center my-64 transition ease-in duration-200">

    </div>

</div>
<script>

    let desc = []
    let files = []
    let names = []
    let short_desc = ""
    let attached_files = ""
    let project_name = ""
    let project_files = []
    let cur_file = ""
    {% for project in projectList %}

        short_desc = '{{ project.short_desc}}'

        project_files = []
        {% for file in project.attached_files %}
            cur_file = '{{ file.file_url}}'
            console.log(cur_file)
            project_files.push(cur_file)
        {% endfor %}

        project_name = '{{ project.project_name }}'
        desc.push(short_desc)
        files.push(project_files)
        names.push(project_name)
    {% endfor %}


    console.log(desc)
    console.log(names)
    console.log(files)

    const hover = (event) => {

        const parent = document.querySelector('.desc')

        parent.innerHTML = ""
        let index = event.target.pathname.slice(-1)
        let int_index = Number(index)
        int_index--

        let node = document.createElement("p")
        let text = document.createTextNode(desc[int_index])
        node.appendChild(text)
        parent.appendChild(node)
    }

    document.querySelectorAll('.projectTitle').forEach(item => {
        item.addEventListener('mouseover', hover)
    })

</script>

{% endblock %}