{% extends "base.html" %}


{% block title %} Project list {% endblock %}

{% block customHead %}
<link rel="stylesheet" href="{{ url_for('static', filename='projectList.css') }}">
{% endblock %}

{% block content %}

<h2 >Discover my projects</h2>
<div class="card-container">

{% if projectList %}
<script>
    console.log("ProjectList == ok")
</script>
{% for project in projectList %}
<div class="card">
    <div class="circle"></div>
    <div class="content">
        <h2></h2>
        <p>

        </p>
        <a href="#"> More details</a>
    </div>
    <img src="">
</div>
{% endfor %}
<script>
    let cards = document.querySelectorAll('.card')
    let card_index = 0
    let card_content = ""
    let card_img = ""

    {% for project in projectList %}
        card_content = cards[card_index].children[1] // .card .content
        card_img = cards[card_index].children[2] //. card img
        card_content.children[0].innerHTML = '{{ project.project_name }}' // .card .content h2
        card_content.children[1].innerHTML = '{{ project.project_desc }}' // .card .content p
        card_content.children[2].href = '{{ project.project_url }}' // .card .content a
        card_img.src = "{{ url_for('static', filename='upload/'+ project.project_thumbnail) }}"
        card_img.alt = '{{ project.project_name }}' // .card img src
        card_index++

    {% endfor %}

</script>
</div>

{% else %}
<h1 class="error">Oh there's nothing to watch here, an internal error occured :c</h1>
{% endif %}

{% endblock %}

