{% extends "base.html" %}

{% block title %}Update a project{% endblock %}
{% block customHead %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='admin.css') }}">
{% endblock %}
{% block content %} 
<h2>Change a project value</h2>
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        <input type="text" name="project-name" value="{{ selected_project.project_name }}" placeholder="Project Name"><br>

        <input type="text" name="project-url" value="{{ selected_project.project_url }}" placeholder="Project url"><br>

        <textarea name="project-desc" value="{{ selected_project.project_desc }}" placeholder="Project description"></textarea><br>


        <label for="project-thumbnail">New thumbnail (leave empty to keep the current thumbnail)</label>
        <input type="file" name="project-thumbnail" value=" {{ selected_project.project_thumbnail }}"><br>

        <input type="submit" value="Submit changes">
    </form>
</div>


{% endblock %}