{% extends "base.html" %}

{% block title %}Add a project{% endblock %}
{% block customHead %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='admin.css') }}">
{% endblock %}
{% block content %} 
<h2>Change a project value</h2>

<form action="" method="post">
    <input type="text" name="project-name" value="{{ selected_project.project_name }}" placeholder="Project Name">
    <input type="text" name="project-desc" value="{{ selected_project.project_desc }}" placeholder="Project description">
    <input type="text" name="project-url" value="{{ selected_project.project_url }}" placeholder="Project url">
    <label for="project-thumbnail"></label>
    <input type="file" name="project-thumbnail" value=" {{ selected_project.project_thumbnail }}">
    <input type="submit" value="Submit changes">
</form>


{% endblock %}